[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/xautolock -time 10 -locker '/usr/bin/loginctl lock-session $XDG_SESSION_ID' -detectsleep

[Unit]
Description=xautolock, session locker service
PartOf=graphical-session.target
