[Unit]
Description=Picom X11 compositor
PartOf=graphical-session.target

[Service]
Environment=allow_rgb10_configs=false
ExecStart=/usr/bin/picom
Restart=always
RestartSec=3

[Install]
WantedBy=default.target

