[Unit]
Description=Flameshot screenshot tool
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/flameshot
Restart=on-abort

[Install]
WantedBy=default.target

