[Unit]
Description=udiskie mount daemon
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie -a -n -s

[Install]
WantedBy=default.target

