[Service]
CPUSchedulingPolicy=idle
ExecStart=/home/%u/.local/bin/password-store-sync.sh
IOSchedulingClass=idle

[Unit]
Description=Password store sync
