[Install]
WantedBy=timers.target

[Timer]
OnCalendar=*:0/5
Persistent=true
Unit=password-store-sync.service

[Unit]
Description=Password store periodic sync
